.title {
    display: inline-block;
    width: 400px;
    height: 60px;
    margin-left: 40px;
    background-color: #fff;

    text-align: center;
    font-size: 32px;
    font-weight: bold;

}
.statistics {   
    width: 480px;
    height: 240px;
    background-color: lightgray;
}
.statList {
    list-style: none;
    display: flex;
    width: 400px;
    margin-left: 40px;
    padding-left: 0;
    
    

    background-color: #fff;

}
.item {
    width: calc(100% / 5);
    height: 100px;
    font-size: 16px;

}